body {
  font-family: 'Times New Roman', sans-serif;
  margin: 0;
  background-color: #0D0D0D;
  color: white;
}

header {
  color: white;
  padding: 20px;
  text-align: center;
}

.nav_bar {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.nav_bar a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #333;
  border-radius: 5px;
}
